.App {
  /* display: flex;
  justify-content: center; */
  /* padding: 128px; */
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img,
video {
  border-radius: 8px;
  overflow: hidden;
}

.controls {
  display: flex;
  gap: 16px;
}

.btn-container {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.btn-container button {
  cursor: pointer;
  display: inline-block;
  outline: 0;
  border: none;
  padding: 16px 56px;
  border-radius: 8px;
  background-color: #0070f3;
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.btn-container button:hover {
  background: rgba(0, 118, 255, 0.9);
  box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.webcam-container {
  position: relative;
}

.webcam-animation {
  animation: fadeInOut 0.5s ease-in-out;
}

.element-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: rgba(172, 166, 166, 0.699);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 132, 132);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0px 0 2px grey;
  border-radius: 20px;
}
